.register-container {
  display: flex;
  justify-content: center;
}
.register {
  background-color: var(--color-grey-light-3);
  box-shadow: var(--shadow-dark);
  margin-top: 8rem;
  width: 50%;
  height: auto;
  padding: 1rem 1rem;
}
.register-container span {
  background-color: var(--color-grey-light-2);
  padding: 1rem 1rem;
  margin-top: 3rem;
  border-radius: 0.2rem;
  border-left: solid var(--color-secondary-dark);
  box-shadow: var(--shadow-light);
  position: absolute;
}
.admin_account_setup {
  color: var(--color-tertiary);
}
fieldset {
  margin-top: 2rem;
  padding: 1rem 1rem;
  display: flex;
  gap: 3rem;
}
input {
  padding: 0.5rem 0.5rem;
  width: 15rem;
  border: 0;
  border-radius: 0.3rem;
  background-color: #e7f5ff;
  /* background-color: var(--color-secondary-dark); */
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input_field {
  border: 0.1px solid #ccc;
  border-radius: 4px;
  transition: all;
  outline: none;
  padding: 8px;
  /* background-color: #f3f4f6; */
  background-color: var(--color-grey-light-4);
  font-size: 14px;
}
.register-btn {
  padding: 0.5rem 0.5rem;
  background-color: var(--color-secondary-dark);
  border: 0;
  color: var(--color-grey-light-3);
  border-radius: 0.2rem;
  transition: 0.2s;
}
.register-btn:hover {
  margin-top: 0.2rem;
  padding: 0.6rem 0.6rem;
  background-color: var(--color-secondary);
}

.signup__form__input__container {
  display: flex;
}
.eye__icon__container {
}
