.modal__container {
  background-color: hsla(0, 0%, 80%, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message__container {
  // width: 30%;
  display: grid;
  place-items: center;
  background-color: hsl(0, 0%, 100%);
  padding: 1em 0.5em;
  border-radius: 3px;
  position: relative;

  .message {
    text-align: center;
    margin: 0.2em;
  }
  .empty__span {
    width: 6px;
    height: 100%;
    position: absolute;
    left: 0em;
  }
}

.close__btn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
  z-index: 10;
}

.close__btn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}
