/* @import "react-slideshow-image/dist/styles.css"; */
/* @import url("http://fonts.cdnfonts.com/css/aquire"); */
@import url("https://fonts.cdnfonts.com/css/aquire");

.home-page-container {
  width: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  color: var(--color-grey-dark-4);
  font-family: sans-serif;
}
footer {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--color-grey-light-1);
  font-style: italic;
}
/* ---------------------------------------HEADER SECTION WITH THE NAVIGATION LINKS------------------- */

.body_container {
  display: flex;
  // background-color: red;
}
.temporary_links {
  color: var(--color-secondary-dark);
}

.home-link {
  background-color: var(--color-grey-dark-4);

  color: var(--color-grey-light-3);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
}
.link-btn-home {
  text-decoration: none;
  color: var(--color-grey-light-3);
  // padding: 0.5rem 1.1rem;
}
.home-link:hover {
  background-color: var(--color-grey-dark-2);
  color: var(--color-grey-light-3);
}
.about-link {
  background-color: var(--color-grey-light-3);
  height: fit-content;
  padding: 0.5rem 1.1rem;
}
.link-btn {
  background-color: var(--color-grey-light-3);
  // padding: 0.5rem 1.1rem;
  // height: 7rem;
  height: 100%;
  text-decoration: none;
  color: var(--color-grey-dark-4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
}
.link-btn:hover {
  background-color: var(--color-primary-light);
  color: #fff;
  transition: 0.01s;
}
.header-link-container {
  // background-color: red;
  display: flex;
  // gap: 0;
}
.header-link-container {
  // display: flex;
  // gap: 0rem;
}
/*---------------------------------- ABOUT PAGE SECTION -----------------------------------------*/

/* ----------------------------------TESTIMONIAL SECTION -----------------------------------------*/
.testimonials-container {
  background-color: var(--color-primary-light);
  height: var(--home-page-container-height);
  display: flex;
  justify-content: center;
}
.testimonials-wrapper {
  width: 80%;
}

.stories-of-transformation {
  margin-top: 2rem;
  background-color: var(--color-primary-light);
  box-shadow: var(--shadow-dark);
  width: 40rem;
  display: flex;
  justify-content: center;
  margin-left: 13rem;
  padding: 1rem 1rem;
}
.sabbath-heading {
  background-color: var(--color-primary-light);
  box-shadow: var(--shadow-dark);
  display: flex;
  justify-content: center;
  width: 15rem;
  padding: 0.5rem 0.5rem;
}
.testimonial-logo-container {
  background-color: var(--color-grey-dark-4);
  width: 10rem;
  height: 8rem;
  margin-left: 9rem;
}
.testimonial-logo-content-wrapper {
  margin-top: 5rem;
  height: auto;
  display: flex;
  gap: 3rem;
}
.testimonial-content {
  width: 60%;
}
.testimonial-paragraph {
  margin-top: 1rem;
  width: 25rem;
}
.testimonial-btn-container {
  display: flex;
  gap: 5rem;
}
.read-more-btn {
  position: relative;
  padding: 0.5rem;
  width: 15rem;
  background-color: #000;
  border: 0;
  border-radius: 1rem;
  margin-top: 1rem;
  color: var(--color-grey-light-3);
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  transition: 0.2s;
}
.read-more-btn:hover {
  background-color: var(--color-grey-dark-4);
}
.all-stories-btn {
  padding: 0.5rem;
  width: 15rem;
  border-radius: 1rem;
  border: solid#000;
  margin-top: 1rem;
  background-color: var(--color-primary-light);
}
/* -------------------------------CONTACT SECTION -------------------------------------------*/
.contact-container {
  background-color: var(--color-primary-dark);
  height: var(--home-page-container-height);
  display: flex;
  padding: 2rem 5rem;
  font-family: "Inter", sans-serif;
}
.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}
.message-input {
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--color-grey-light-3);
}
.contact-submit-btn {
  padding: 0.5rem;
  width: 5rem;
  margin-bottom: 1rem;
  background-color: #000;
  color: var(--color-primary-dark);
  font-weight: 900;
  border-radius: 0.5rem;
  transition: 0.2s;
}
.contact-submit-btn:hover {
  padding: 0.6rem;
  width: 5.5rem;
}
.contact-us-container {
  background-color: var(--color-primary-light);
  box-shadow: var(--shadow-light);
  padding: 1rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
}
#w3review {
  border-radius: 0.4rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--color-grey-light-3);
}
.three-contact-sections {
  display: flex;
  gap: 8rem;
}
.site-map-list {
  margin-top: 2rem;
  list-style: none;
}
.site-map-container {
  background-color: var(--color-primary-light);
  box-shadow: var(--shadow-light);
  padding: 2rem;
  border-radius: 1rem;
}
.phone-numbers-container {
  background-color: var(--color-primary-light);
  padding: 2rem;
  width: 15rem;
  border-radius: 1rem;
}
.phone-numbers {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.phone-section-logo {
  width: 8rem;
  height: 6rem;
  background-color: var(--color-grey-dark-3);
  padding: 2.5rem 3rem;
  border-radius: 50%;
}
.links_container {
  width: 15rem;
  margin-left: 25rem;
  margin-top: 8rem;
  padding: 2rem;
  background-color: var(--color-grey-light-4);
  box-shadow: var(--shadow-lg);
  box-sizing: var(--shadow-dark);
}
// ----------------------------MEDIA QUERIES------------------------------------
// ----------------------------MEDIA QUERIES------------------------------------
// ----------------------------MEDIA QUERIES------------------------------------
// ----------------------------MEDIA QUERIES------------------------------------
// ----------------------------MEDIA QUERIES------------------------------------
@media screen and (600px <= width <= 1074px) {
  .body_container {
    display: flex;
  }
}

@media screen and (420px < width <= 600px) {
}
@media screen and (width <= 420px) {
}
