.header-container {
  justify-content: center;
}
.logo-link-container {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
  margin-left: 5rem;
}
.musdaa_logo {
  width: 10rem;
  height: auto;
}
/* // ----------------------------MEDIA QUERIES------------------------------------
// ----------------------------MEDIA QUERIES------------------------------------
// ----------------------------MEDIA QUERIES------------------------------------
// ----------------------------MEDIA QUERIES------------------------------------
// ----------------------------MEDIA QUERIES------------------------------------ */
@media screen and (600px <= width <= 1074px) {
  .logo-link-container {
    display: flex;
    gap: 1rem;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (412px < width <= 600px) {
}
@media screen and (width <= 412px) {
}
